*
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../Media/Sec1-BG.webp);
    background-size: cover;
    color: #0b0b0b;
}

form
{
    width: 600px;
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    color: #000000;
    transition: all 0.3s ease;
}

h2
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #f9e6a5;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 1em;
    outline: none;
}


.Submit
{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9e6a5;
    color: #0b0b0b;
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

label
{
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
    color: #000000;
}

h3
{
    margin-bottom: 20px;
    margin-left: 40px;
    /* margin-bottom: 30px; */
    margin-top: 30px;
    /* margin-left: 20px; */
}


div 
{
    width: 35%;
    background-color: #ffff;
    font-size: 20px;
    border-radius: 10px;
    height: 45px;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 40px;
    
}

.Play  a
{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9e6a5;
    color: #0b0b0b;
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    text-decoration: none;
    margin: auto;
}
.Play2  a
{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9e6a5;
    color: #0b0b0b;
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    text-decoration: none;
    margin: auto;
}

.Play
{

    background-color: transparent;
    border: none;
    /* width: 100%; */
    /* margin-left: 43%; */
    margin-bottom: 20px;
    margin-left: 30%;
 
}
.Play2
{

    background-color: transparent;
    border: none;
    /* width: 100%; */
    /* margin-left: 43%; */
    margin-bottom: 20px;
 
}

  a:hover
{
    background-color: transparent;
    border: solid 1px #f9e6a5;
}